In [1]:
# for reading .xlsx-files
import pandas as pd

import json

# Corona Fälle und Inzidenz nach Landkreis und Tag

In [2]:
data = list()
if True:
    timestamp = pd.read_excel("RKI_direkt\Archiv_Fallzahlen_und_7-Tage-Inzidenzen_nach_Landkreis_(seit_19112020).xlsx",
                              skiprows = 4,
                              sheet_name = 1,
                              header = 0)
    data.append(timestamp)
data

[                       LK  Fälle    Inzidenz  LK_Nr
 0            LK Ahrweiler    203  156.050613   7131
 1    LK Aichach-Friedberg    187  138.873417   9771
 2      LK Alb-Donau-Kreis    231  117.213664   8425
 3     LK Altenburger Land    137  153.255848  16077
 4         LK Altenkirchen     75   58.227553   7132
 ..                    ...    ...         ...    ...
 407              SK Worms     77   92.169208   7319
 408          SK Wuppertal    688  193.748240   5124
 409           SK Würzburg    125   97.706630   9663
 410        SK Zweibrücken     34   99.435557   7320
 411    StadtRegion Aachen    999  179.345309   5334

 [412 rows x 4 columns]]

In [3]:
data[0]

                       LK  Fälle    Inzidenz  LK_Nr
0            LK Ahrweiler    203  156.050613   7131
1    LK Aichach-Friedberg    187  138.873417   9771
2      LK Alb-Donau-Kreis    231  117.213664   8425
3     LK Altenburger Land    137  153.255848  16077
4         LK Altenkirchen     75   58.227553   7132
..                    ...    ...         ...    ...
407              SK Worms     77   92.169208   7319
408          SK Wuppertal    688  193.748240   5124
409           SK Würzburg    125   97.706630   9663
410        SK Zweibrücken     34   99.435557   7320
411    StadtRegion Aachen    999  179.345309   5334

[412 rows x 4 columns]

# Alle einzelnen Corona-Fälle

In [4]:
with open("RKI_COVID19.geojson", "r") as file:
       data2 = json.loads(file.read())

In [5]:
data2["features"][0]['properties']['AnzahlFall']

1

In [6]:
acc = 0
for dp in data2["features"]:
    acc += dp['properties']['AnzahlFall']

In [7]:
acc

2734474

# Einmaliger Datensatz mit Koordinaten und Geometrien

In [8]:
data3 = pd.read_csv("RKI_Corona_Landkreise.csv")

In [9]:
data3

,OBJECTID,ADE,GF,BSG,RS,AGS,SDV_RS,GEN,BEZ,IBZ,...,EWZ_BL,cases7_bl_per_100k,cases7_bl,death7_bl,cases7_lk,death7_lk,cases7_per_100k_txt,AdmUnitId,SHAPE_Length,SHAPE_Area
0,1,4.0,4.0,1.0,1001,1001.0,1.001000e+10,Flensburg,Kreisfreie Stadt,40.0,...,2903773,59.784288,1736,1,88,0,"97,6",1001,0.524721,0.006873
1,2,4.0,4.0,1.0,1002,1002.0,1.002000e+10,Kiel,Kreisfreie Stadt,40.0,...,2903773,59.784288,1736,1,117,1,"47,4",1002,1.274684,0.015507
2,3,4.0,4.0,1.0,1003,1003.0,1.003000e+10,Lübeck,Kreisfreie Stadt,40.0,...,2903773,59.784288,1736,1,131,0,"60,5",1003,1.834534,0.028928
3,4,4.0,4.0,1.0,1004,1004.0,1.004000e+10,Neumünster,Kreisfreie Stadt,40.0,...,2903773,59.784288,1736,1,57,0,"71,1",1004,0.663262,0.009808
4,5,4.0,4.0,1.0,1051,1051.0,1.051004e+10,Dithmarschen,Kreis,42.0,...,2903773,59.784288,1736,1,70,0,"52,6",1051,3.073353,0.196087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,411,NaN,NaN,NaN,11005,NaN,NaN,Berlin Spandau,Bezirk,NaN,...,3669491,111.323342,4085,4,274,0,"114,6",11005,0.719318,0.012292
408,412,NaN,NaN,NaN,11006,NaN,NaN,Berlin Steglitz-Zehlendorf,Bezirk,NaN,...,3669491,111.323342,4085,4,256,0,"84,7",11006,0.791122,0.013552
409,413,NaN,NaN,NaN,11001,NaN,NaN,Berlin Mitte,Bezirk,NaN,...,3669491,111.323342,4085,4,577,1,"153,8",11001,0.438594,0.005218
410,414,NaN,NaN,NaN,11002,NaN,NaN,Berlin Friedrichshain-Kreuzberg,Bezirk,NaN,...,3669491,111.323342,4085,4,240,0,"85,1",11002,0.404632,0.002700
411,415,NaN,NaN,NaN,11007,NaN,NaN,Berlin Tempelhof-Schöneberg,Bezirk,NaN,...,3669491,111.323342,4085,4,339,3,"99,2",11007,0.534689,0.007011